.passContainer{
    left: 20%;
    border: solid #fff;
    border-radius: 15px;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.7);
}

.passContainer:hover{
    cursor: pointer;
}

.passContainer form{
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
}

.passContainer form p{
    grid-column: span 4;
    grid-row: 1;
    font-size: 25px;
    margin: 0;
    font-weight: bold;
    text-align: center;
    color: aliceblue;
}

.sa-pass{
    background: none;
    border: none;
    width: 70%;
    margin-left: 7px;
    font-size: 20px;
    outline: none;
    color: antiquewhite;
    padding-left: 7px;
}

.passContainer form label{
    font-size: 20px;
    color: aliceblue;
}

.sa-enroll{
    width: 55%;
}

.sa-date::-webkit-calendar-picker-indicator{
    display: none;
}

.item-1{
    grid-column: 1/span 2;
    grid-row: 2;
    height: 40px;
}

.item-2{
    grid-column: 3/span 2;
    grid-row: 2;
}

.item-5{
    grid-column: 1/span 2;
    grid-row: 3;
    height: 40px;
}

.item-6{
    grid-column: 3/span 4;
    grid-row: 3;
}

.item-3{
    grid-column: 1;
    grid-row: 4;
    height: 40px;
}

.item-4{
    grid-column: 3;
    grid-row: 4;
}

.item-8{
    grid-column: 4;
    grid-row: 4;
}

.item-7{
    grid-column: 4;
    grid-row: 2;
}

.outpassbtn{
    background: none;
    width: 60%;
    margin-left: 30%;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
}

.detail{
    border: solid antiquewhite;
    color: antiquewhite;
    width: 80%;
    margin: 0;
    transition: 0.3s ease;
}

.detail:hover{
    cursor: pointer;
    background: antiquewhite;
    color: black;
    transition: 0.3s ease;
}