.details{
    height: 100vh;
    width: 100%;
}

.bimage{
    height: 100%;
    background-image: url('../../Assets/juet.png');
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(4px) brightness(25%);
}

.details-text{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    color: aliceblue;
}

.details-text h2{
    font-size: 50px;
    font-weight: normal;
}

.details-box{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 50%;
    color: aliceblue;
    border: solid #fff;
     border-radius: 15px;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4);
    box-shadow: rgba(237, 214, 214, 0.35) 0px 5px 20px;
}

.details-form{
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
}

.detail-1{
    grid-column: 1;
    grid-row: 1;

}

.details-width-fix{
    width: 50%;
}

.detail-2{
    grid-column: 2;
    grid-row: 1;
    padding-left: 40px;
}

.detail-3{
    grid-column: 1;
    grid-row: 2;
}

.detail-4{
    grid-column: 2;
    grid-row: 2;
    padding-left: 40px;
}

.detail-5{
    grid-column: 1;
    grid-row: 3;
}

.detail-6{
    grid-column: 2;
    grid-row: 3;
    padding-left: 40px;
}

.detail-7{
    grid-column: 1;
    grid-row: 4;
}

.detail-8{
    grid-column: span 2;
    grid-row: 5;
}

.detail-9{
    grid-column: 1;
    grid-row: 6;
}

.details-form label{
    font-size: 20px;
}

.details-inp{
    border: none;
    outline: none;
    background: none;
    color: antiquewhite;
    font-size: 20px;
    padding-left: 10px;
}

.detail-10{
    grid-column: 2;
    grid-row: 6;
    padding-left: 40px;
}

.detail-11{
    grid-column: 2;
    grid-row: 4;
    padding-left: 40px;
}

.status{
    margin-left: 15px;
    outline: none;
    background: none;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
}

.s-approved{
    color: green;
    border: solid green;
}

.s-rejected{
    color: red;
    border: solid red;
}

.pending{
    margin-left: 15px;
    outline: none;
    border: solid yellow;
    background: none;
    border-radius: 15px;
    color: yellow;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
}

.w-approved{
    color: green;
    border: solid green;
    transition: 0.3s ease;
}

.w-rejected{
    color: red;
    border: solid red;
    transition: 0.3s ease;
}

.w-approved:hover{
    cursor: pointer;
    color: #fff;
    background-color: green;
    border: solid green;
    transition: 0.3s ease;
}

.w-rejected:hover{
    cursor: pointer;
    color: #fff;
    background-color: red;
    border: solid red;
    transition: 0.3s ease;
}