.fp{
    height: 100vh;
    width: 100%;
}

.bimage{
    height: 100%;
    background-image: url('../../Assets/juet.png');
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(4px) brightness(25%);
}

.fp-info{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    color: aliceblue;
}

.fp-info h1{
    font-size: 60px;
}

.fp-info h2{
    font-size: 30px;
    font-style:oblique;
    font-weight: normal;
}

.fp-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 45%;
    border: solid #fff;
    border-radius: 15px;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4);
    box-shadow: rgba(237, 214, 214, 0.35) 0px 5px 20px;
}

.fp-form{
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: repeat(2, 0.5fr);
    row-gap: 40px;
}

.fp-label{
    color: aliceblue;
    font-size: 20px;
}

.fp-inp{
    color: antiquewhite;
    font-size: 20px;
    padding: 5px;
    border: solid aliceblue;
    border-radius: 8px;
    background: none;
    outline: none;
}

.fp-inp::placeholder{
    color: antiquewhite;
    opacity: 0.5;
}

.fp-submit{
    padding: 5px;
    width: 40%;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    background-color: antiquewhite;
    cursor: pointer;
    transition: 0.3s;
}

.fp-submit:hover{
    background-color: rgb(218, 152, 67);
    transition: 0.3s;
}

.fp-up{
    text-transform: uppercase;
}