.form{
    height: 100vh;
    width: 100%;
}

.bimage{
    height: 100%;
    background-image: url('../../Assets/juet.png');
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(4px) brightness(25%);
}

.form-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 90%;
    color: aliceblue;
    border: solid #fff;
    border-radius: 15px;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4);
    box-shadow: rgba(237, 214, 214, 0.35) 0px 5px 20px;
}

.outpass-form{
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 40px;
}

.form-text{
    grid-column: span 7;
    grid-row: 1;
    font-size: 25px;
    margin: 0;
    font-weight: normal;
    padding-bottom: 20px;
    font-style: italic;
}

.fname{
    grid-column: 1 / span 4;
    grid-row: 2;
}

.enr{
    grid-column: 5 / span 2;
    grid-row: 2;
}

.room{
    grid-column: 7;
    grid-row: 2;
}


.days{
    grid-column: 1 / span 1;
    grid-row: 3;
}

.from{
    grid-column: 2 / span 2;
    grid-row: 3;
}

.to{
    grid-column: 5 / span 2;
    grid-row: 3;
}

.hostel-no{
    grid-column: 7;
    grid-row: 3;
}

.purpose{
    grid-column: 1 / span 4;
    grid-row: 4;
}

.address{
    grid-column: 5 / span 3;
    grid-row: 4;
}

.consent{
    grid-column: span 7;
    grid-row: 5;
}

.inp{
    background: none;
    border: none;
    border-bottom: solid aliceblue;
    width: 90%;
    font-size: 23px;
    outline: none;
    color: antiquewhite;
    padding-left: 7px;
}

.inp::placeholder{
    color: aliceblue;
    opacity: 90%;
    font-size: 20px;
}

.outpass-form label{
    font-size: 23px;
}

.date{
    margin-left: 10px;
    width: 50%;
}

.date::-webkit-calendar-picker-indicator{
    filter: invert(100%);
    cursor: pointer;
}

.file{
    padding-left: 20px;
    color: aliceblue;
    font-size: 15px;
}

.sub-btn{
    grid-column: 1/span 2;
    grid-row: 6;
    background: none;
    border: solid #fff;
    color: aliceblue;
    border-radius: 20px;
    font-size: 20px;
    padding: 5px;
    transition: 0.3s ease;
    margin-left: 5%;
    width: 50%;
}

.sub-btn:hover{
    cursor: pointer;
    color: black;
    background-color: aliceblue;
    transition: 0.3s ease;
}

.ackn{
    margin: 0;
    grid-column: 3 / span 4;
    color: greenyellow;
}

.nav-bar{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}