.w-pending {
    height: auto;
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.w-pending::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../Assets/juet.png");
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(4px) brightness(25%);
    z-index: -1; 
}

.w-pending h1{
    margin: 0;
    padding: 20px 0 40px 0;
    text-align: center;
    font-size: 40px;
    color:azure;
    font-weight: normal;
}

.woutpasses{
    display: grid;
    row-gap: 20px;
    justify-content: center;
}